*, *::before, *::after {
    box-sizing: border-box;
}
body,
.quiz-content {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: rgb(0, 0, 0);
}

.title {
    text-align: center;
}
.quiz-content {
    border: solid 1px black;
    margin: 30px 50px;
    text-align: center;
    box-shadow: 0 0 10px 2px;
}
.quiz-questions {
    font-size: 50px;
    margin: 30px 50px;
    text-align: center;
}
.start-btn {
    font-size: 22px;
    background-color:teal;
    color: white;
    margin: 50px 50px 20px 50px;
    width: 200px;
}
.btn {
    font-size: 22px;
    background-color:teal;
    color: white;
    margin: 50px 50px 20px 50px;
    width: 600px;
    height: max-content;
}
.hide {
    display: none;
}